In [210]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [211]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
434,tt1458175,30000000,51148651,The Next Three Days,Russell Crowe|Elizabeth Banks|Brian Dennehy|RZ...,Paul Haggis,What if you had 72 hours to save everything yo...,A married couple's life is turned upside down ...,133,Romance|Drama|Thriller|Crime,Lionsgate|FidÃ©litÃ© Films|Hwy61,11/18/2010,6.8,2010
1017,tt1790885,40000000,132820716,Zero Dark Thirty,Jessica Chastain|Jason Clarke|Mark Strong|Joel...,Kathryn Bigelow,The Greatest Manhunt in History,A chronicle of the decade-long hunt for al-Qae...,157,Thriller|Drama|History,Columbia Pictures|Annapurna Pictures|First Lig...,12/19/2012,6.5,2012
221,tt1826590,12500000,49002684,About Last Night,Kevin Hart|Michael Ealy|Regina Hall|Joy Bryant...,Steve Pink,It's about compromise. It's about love. It's a...,A modern reimagining of the classic romantic c...,100,Comedy|Romance,"Screen Gems, Inc.|Rainforest Films|Olive Bridg...",2/14/2014,5.8,2014
1518,tt0493430,11000000,72778712,Jackass Number Two,Johnny Knoxville|Bam Margera|Steve-O|Chris Pon...,Jeff Tremaine,Guess who just made number two?,Jackass Number Two is a compilation of various...,95,Action|Comedy|Documentary,Paramount Pictures,9/22/2006,6.4,2006
1087,tt0266543,94000000,864625978,Finding Nemo,Albert Brooks|Ellen DeGeneres|Alexander Gould|...,Andrew Stanton|Lee Unkrich,"There are 3.7 trillion fish in the ocean, they...",A tale which follows the comedic and eventful ...,100,Animation|Family,Walt Disney Pictures|Pixar Animation Studios|D...,5/30/2003,7.4,2003

In [212]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [213]:
answers = {} # создадим словарь для ответов
# тут другие ваши предобработки колонок например:
data.release_date = pd.to_datetime(data.release_date)
data['profit'] = data['revenue'] - data['budget']
# print(data.dtypes)
# data.sample(5)
#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [214]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
# answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# +

In [215]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()].original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [216]:
# можно добавлять разные варианты решения
data.sort_values('budget', ascending=False).head(1).original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [217]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)'
# +

In [218]:
data[data.runtime == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2003-02-21,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [219]:
data[data.runtime == data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,2011-04-13,6.8,2011,-15540000

In [220]:
answers['3'] = 'Winnie the Pooh (tt1449283)'
# +

# 4. Какова средняя длительность фильмов?

In [221]:
round(data.runtime.mean())

110

In [222]:
answers['4'] = '2. 110'
# +

# 5. Каково медианное значение длительности фильмов?

In [223]:
round(data.runtime.median())

107

In [224]:
answers['5'] = '1. 107'
# +

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [225]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data[data.profit == data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,2009-12-10,7.1,2009,2544505847

In [226]:
answers['6'] = '5. Avatar'
# +

# 7. Какой фильм самый убыточный?

In [227]:
data[data.profit == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090

In [228]:
answers['7'] = '5. The Lone Ranger'
# +

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [229]:
data[data.revenue > data.budget].count()

imdb_id                 1478
budget                  1478
revenue                 1478
original_title          1478
cast                    1478
director                1478
tagline                 1478
overview                1478
runtime                 1478
genres                  1478
production_companies    1478
release_date            1478
vote_average            1478
release_year            1478
profit                  1478
dtype: int64

In [230]:
answers['8'] = '1. 1478'
# +

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [231]:
data_2008 = data[data.release_year == 2008]
data_2008[data_2008.revenue == max(data_2008.revenue)]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8.1,2008,816921825

In [232]:
answers['9'] = '4. The Dark Knight'
# +

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [233]:
worst = data[data.release_year.isin(range(2012, 2015))]
worst[worst.profit == min(worst.profit)]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090

In [234]:
answers['10'] = '4. The Lone Ranger'
# +

# 11. Какого жанра фильмов больше всего?

In [235]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
data.genres.str.split('|',expand=True).stack().value_counts().head(1)

Drama    782
dtype: int64

In [236]:
answers['11'] = '3. Drama'
# +

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [237]:
data[data.profit>0].genres.str.split('|',expand=True).stack().value_counts().head(1)

Drama    560
dtype: int64

In [238]:
answers['12'] = '1. Drama'
# +

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [239]:
data.groupby(['director'])['revenue'].sum().sort_values(ascending = False).head(1)

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

In [240]:
answers['13'] = '5. Peter Jackson'
# +

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [241]:
directors = list(data[data.genres.str.contains('Action')].director.str.split('|'))
pd.DataFrame(directors).stack().value_counts().head(1)

Robert Rodriguez    9
dtype: int64

In [242]:
answers['14'] = '3. Robert Rodriguez'
# +

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [243]:
cnt = Counter()

def count(row):
    for act in row.cast.split('|'):
        cnt[act] += row.revenue

data.query('release_year == 2012').apply(count, axis=1)
cnt.most_common(1)

[('Chris Hemsworth', 2027450773)]

In [244]:
answers['15'] = '3. Chris Hemsworth'
# +

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [245]:
pd.Series(data[data.budget > data.budget.mean()].cast.str.cat(sep='|').split('|')).value_counts().head(1)

Matt Damon    18
dtype: int64

In [246]:
answers['16'] = '3. Matt Damon'
# +

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [247]:
genres = data[data.cast.str.contains('Nicolas Cage')].genres
pd.Series(genres.str.cat(sep='|').split('|')).value_counts().head(1)

Action    17
dtype: int64

In [248]:
answers['17'] = '2. Action'
# +

# 18. Самый убыточный фильм от Paramount Pictures

In [249]:
Paramount = data[data.production_companies.str.contains('Paramount Pictures')]
Paramount[Paramount.profit == min(Paramount.profit)]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,2002-07-19,6.0,2002,-64831034

In [250]:
answers['18'] = '1. K-19: The Widowmaker'
# +

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [251]:
df.groupby('release_year').agg('sum')['profit'].nlargest(1)

release_year
2015    18668572378
Name: profit, dtype: int64

In [252]:
answers['19'] = '5. 2015'
# +

# 20. Какой самый прибыльный год для студии Warner Bros?

In [253]:
W = data[data.production_companies.str.contains('Warner Bros')][['release_year', 'profit']]
W.groupby('release_year').sum().nlargest(3, columns='profit').head(1)

                  profit
release_year
2014          2295464519

In [254]:
answers['20'] = '1. 2014'
# +

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [255]:
data['release_month'] = df.release_date.apply(lambda x: x.month)
data.groupby('release_month')['imdb_id'].count().nlargest(1)

release_month
9    227
Name: imdb_id, dtype: int64

In [256]:
answers['21'] = '4. Сентябрь'
# +

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [257]:
len(data[data.release_month.isin([6, 7, 8])])

450

In [258]:
answers['22'] = '2. 450'
# +

# 23. Для какого режиссера зима – самое продуктивное время года?

In [259]:
d = data[data.release_month.isin(['12', '1', '2'])]
pd.Series(d.director.str.cat(sep='|').split('|')).value_counts().head(1)

Peter Jackson    7
dtype: int64

In [260]:
answers['23'] = '5. Peter Jackson'
# +

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [261]:
data['title_len'] = data.original_title.apply(len)
studios = set(data.production_companies.str.cat(sep='|').split('|'))
pd.Series([data[data.production_companies.str.contains(studio)]['title_len'].mean()
           for studio in studios], index=studios).sort_values(ascending=False)

C:\Users\User\anaconda3\lib\site-packages\pandas\core\strings.py:1954: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

Four By Two Productions                                83.0
Jim Henson Company, The                                59.0
Dos Corazones                                          47.0
Museum Canada Productions                              46.0
Polsky Films                                           46.0
                                                       ...
Disney Double Dare You (DDY)                            NaN
Canal+ EspaÃ±a                                          NaN
Canadian Film or Video Production Tax Credit (CPTC)     NaN
Picture Perfect (I)                                     NaN
Sony Pictures Worldwide Acquisitions (SPWA)             NaN
Length: 1771, dtype: float64

In [262]:
answers['24'] = '5. Four By Two Productions'
# +

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [263]:
data['overview_len'] = data.overview.apply(lambda x: len(x.split()))
sstudios = set(data.production_companies.str.cat(sep='|').split('|'))
pd.Series([data[data.production_companies.str.contains(studio)]['overview_len'].mean()
           for studio in studios], index=studios).sort_values(ascending=False)

Midnight Picture Show                                  175.0
Room 9 Entertainment                                   161.0
Heineken Branded Entertainment                         159.0
98 MPH Productions                                     159.0
Brookwell-McNamara Entertainment                       156.0
                                                       ...
Disney Double Dare You (DDY)                             NaN
Canal+ EspaÃ±a                                           NaN
Canadian Film or Video Production Tax Credit (CPTC)      NaN
Picture Perfect (I)                                      NaN
Sony Pictures Worldwide Acquisitions (SPWA)              NaN
Length: 1771, dtype: float64

In [264]:
answers['25'] = '3. Midnight Picture Show'
# +

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [265]:
data.nlargest(int(len(data)/100), 'vote_average').sort_values('original_title')

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,title_len,overview_len
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,2013-10-18,7.9,2013,167000000,10,16,61
124,tt2245084,165000000,652105443,Big Hero 6,Scott Adsit|Ryan Potter|Daniel Henney|T.J. Mil...,Don Hall|Chris Williams,From the creators of Wreck-it Ralph and Frozen,The special bond that develops between plus-si...,102,Adventure|Family|Animation|Action|Comedy,Walt Disney Pictures|Walt Disney Animation Stu...,2014-10-24,7.8,2014,487105443,10,10,29
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,2014-10-01,7.9,2014,308330363,10,9,30
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,2014-07-30,7.9,2014,603312399,7,23,28
370,tt1375666,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,2010-07-14,7.9,2010,665500000,7,9,44
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,2015-06-09,8.0,2015,678708609,6,10,112
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,2014-11-05,8.0,2014,456752480,11,12,35
1800,tt0209144,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,2000-10-11,7.9,2000,30723096,10,7,78
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,2015-10-16,8.0,2015,29401758,10,4,49
28,tt1895587,20000000,88346473,Spotlight,Mark Ruffalo|Michael Keaton|Rachel McAdams|Lie...,Tom McCarthy,Break the story. Break the silence.,The true story of how The Boston Globe uncover...,128,Drama|Thriller|History,Participant Media|Open Road Films|Anonymous Co...,2015-11-06,7.8,2015,68346473,11,9,30
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8.1,2008,816921825,7,15,67
177,tt2582846,12000000,305151265,The Fault in Our Stars,Shailene Woodley|Ansel Elgort|Nat Wolff|Laura ...,Josh Boone,One Sick Love Story,Despite the tumor-shrinking medical miracle th...,125,Romance|Drama,Fox 2000 Pictures|Temple Hill Entertainment|TS...,2014-05-16,7.8,2014,293151265,5,22,47
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2014-02-26,7.9,2014,144600318,2,24,66
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,2014-11-14,8.0,2014,219555708,11,18,46
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,2003-12-01,7.9,2003,1024888979,12,45,45
872,tt0253474,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,2002-09-24,7.9,2002,85072577,9,11,39
155,tt2980516,15000000,121201940,The Theory of Everything,Eddie Redmayne|Felicity Jones|Harry Lloyd|Davi...,James Marsh,His Mind Changed Our World. Her Love Changed His.,A look at the relationship between the famous ...,123,Drama|Romance,Working Title Films,2014-11-26,7.8,2014,106201940,11,24,14
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,2013-12-25,7.9,2013,292000694,12,23,29

In [266]:
answers['26'] = '1.Inside Out, The Dark Knight, 12 Years a Slave'
# +

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [267]:
couple_actors = Counter()
for i, row in data.iterrows():
    actors = row.cast.split('|')
    couple_actors.update([ x for x in combinations(actors, 2)])
couple_actors.most_common(1)

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

In [268]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'
# +

# Submission

In [269]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar',
 '7': '5. The Lone Ranger',
 '8': '1. 1478',
 '9': '4. The Dark Knight',
 '10': '4. The Lone Ranger',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1.Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [270]:
# и убедиться что ни чего не пропустил)
len(answers)

27